.recipe {
	background:#FFF;
	position: absolute;
	top: 1em;
	left: 1em;
	padding: 0 0 1em 1em;
	margin: 0 1em 0 0;
}

.recipe img{
	width: 40%;
	float: left;
}

.recipe h1{
	margin: 1em;
	text-align: right;
	width: 50%;
	float: right;
}

.recipe table{
	float:right;
	width: 59%;
}

.recipe h2{
	margin: 0.5em;
	width:50%;
	text-align: right;
	float: right;
}

.recipe p{
	text-align: right;
	margin: 0.25em;
	
}



.ingredient{
	width:33%;
	text-align:center;
}

.ingredient p{
	text-align: center;
}


.ingredient img{
	width: 3em;
	margin: 0.5em;
	float: none;
}