@font-face{
	font-family:'titleFont';
	src:url("../fonts/PARCHM.TTF");
}

@font-face{
	font-family:'innerFont';
	src:url("../fonts/VINERITC.TTF");
}

@font-face{
	font-family:'DJBChalkItUp';
	src:url("../fonts/DJBChalkItUp.ttf");
}

.recipe {
	background:#000;
	position: absolute;
	left: 0;
	width: 100%;
	text-align: right;
}

.recipe img{
	width: 40%;
	float: left;
	padding: 6pt 0;
}

.recipe h1{
	font-family: titleFont;
	font-size: 80pt;
	font-weight: unset;
	text-align: right;
	color: #FFF;
	margin: 0 30pt;
	line-height: 40pt;
}

.recipe h2{
	font-family: titleFont;
	font-size: 40pt;
	font-weight: unset;
	color: #FFF;
	margin: 0 30pt;
	text-align: right;
}

.recipe .line{
	height: 2pt;
	width: 100%;
	background: #FFF;
}

.recipe p{
	color:#FFF;
	text-align: right;
	margin: 0.25em;
}


.ingredients{
	font-family: innerFont;
	color: #FFF;
	background: #000;
	margin: 0.2%;
}

.ingredient{
	display: inline-flex;
	margin: 0.5em;
}

.ingredient p{
	text-align: left;
	margin: 0.5em;
}


.ingredient img{
	width: 4em;
	float: left;
}

.nutrition {
	font-family: Verdana;
	background:#FFF;
	width: 200pt;
	float:left;
	margin: 10pt;
	border: 1pt solid #FFF;
}

.nutrition p{
	color: #000;
	text-align: center;
}

.nutrition td{
	font-size: 10pt;
}

.nutrition .main td{
	font-size: 8pt;
}


.nutrition h1, .nutrition h2{
	font-family: unset;
	font-size: unset;
	width:100%;
	padding: 0px;
	margin: 0px;
	background: none repeat scroll 0% 0% #000;
	text-align: center;
}
